#login1{
    left: 50px;
}
#BarraNav{
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#SecPerfil{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#presentacion{
      color: antiquewhite;
        font-size: small;
        }
#Fotoperfil{
    position: relative;
    bottom: 80px;
  }

#parrafo1{
    color: gainsboro;
    right: 800px;
    justify-content: right;
    text-align: justify;
    font-size: small;
}
#Page2Bar{
    background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: navy;
    font-size: 50px;
    font-style: oblique;
}
#tabExp{
    text-align: center;
    justify-content: center;
    font-size: small;
    margin-block: 20px;
}
#DescExp{
    text-align: justify;
}
#tabExp{
    border-collapse: collapse; 
    font-size: smaller;
    vertical-align: middle;
}
#colemp{
    width: 10px;
}
#colug{
    width: 10px;
}
#colcar{
    width: 10px;
}
#banner {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
#titulos{
    text-align: center;
    font-size: x-small;
    line-height: 2px;
}
#box1{
float: left;
}
#box2{
    float: left;
}
#box3{
    float: left;
}
#tacursos{
    font-size: small;
    line-height: normal;
}

m b{
    font-size: medium;
    font-style: normal;
    color: black;
}
